.container {
  display: flex;
}

.side-nav {
  border: 1px solid black;
  height: 100%;
  width: 30%;
  margin-left: 20px;
}

.wine-page-container {
  display: flex;
  flex-wrap: wrap;
}

.wine-listing {
  border: 1px solid black;
  margin: 30px;
  text-align: center;
}

.header-wrapper {
  display: flex;
}
